# Visual Studio Code
.vscode/**/*
!.vscode/extensions.json
!.vscode/settings.json

# Dependency Directory
node_modules/

# tsup Build Output
dist/

# 'pnpm pack' Output
*.tgz

# Logs
.pnpm-debug.log*

# Miscellaneous
**/.DS_Store
